body {
    margin: 0;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: tan;
}

#header {
    padding: 10px;
    background: skyblue;
}

#header>h1 {
    margin: 0;
}

#content {

    display: flex;
    flex-grow: 1;
}

#inputs {
    padding: 10px;
    background-color: salmon;

    flex-grow: 1;
}

#display {
    padding: 10px;
    background-color: rosybrown;
}

#poke-art {
    height: 35vw;
    max-height: 30rem;

    background-color: rgba(137, 235, 57, 0.466);
}

form {
    background-color: royalblue;

    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;

    justify-items: right;
}

form input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

form label {

    background-color: sandybrown;
}

form button {
    column-span: 1;
}