body {
    margin: 0;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: tan;
}

#header {
    padding: 10px;
    background: skyblue;
}

#header>h1 {
    margin: 0;
}

#content {
    display: flex;
    flex-grow: 1;
}

#inputs {
    padding: 10px;
    background-color: salmon;

    flex-grow: 1;
}

.form-box {
    display: flex;
    justify-content: space-between;

    position: relative;
}

.unit-box {
    position: absolute;
    right: 25px;
}

#options-box {
    display: flex;
    justify-content: space-between;
}

#result-info {
    background-color: rgb(22, 70, 43);
    color: WHITE;
    padding: 10px;
}

#display {
    padding: 10px;
    background-color: rosybrown;

    display: flex;
    flex-direction: column;
}

#poke-name-number {
    display: flex;
    justify-content: space-evenly;
}

#poke-name, #poke-number {
    font-size: 30px;

    padding: 0;
    margin: 0;
}

#poke-art {
    height: 35vw;
    max-height: 30rem;

    background-color: rgba(137, 235, 57, 0.466);
}

#type-box {
    display: flex;
    justify-content: space-evenly;

    background-color: tan;
    padding: 10px;
}

#poke-size-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#poke-weight, #poke-height {
    background-color: tan;
    padding: 10px 0px;

    width: 100%;
    text-align: center;
}